# Dependências do Node.js
node_modules/

# Diretórios de build
dist/
build/

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurações do editor/IDE
.vscode/
.idea/
*.swp

# Cache do Vite
.vite/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração do sistema
/package-lock.json

# Configurações de ambiente
.env
.env.local
.env.*.local

# Cache do TypeScript
*.tsbuildinfo